.user-profile-menu-item{
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
}

.logout-menu-item{
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  color: red;
}